[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "==2.11.2"
elasticsearch = "*"
pandas = "*"
pymongo = "*"
plotly = "*"
dash = "2.18.2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
